<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>MOBAppKey</key>
    <string>2c01f68b1238f</string>
    <key>MOBAppSecret</key>
    <string>97c475e33dcc2605476fae049b16c049</string>
</dict>
</plist>
